<script src="//code.jquery.com/jquery-2.1.0.min.js"></script> 

Enter the dates that you would like to Sonify. Super Collider code will be generated below. 
  <link href="/style.css" rel="stylesheet">  
  <form action="/" method="post"> 
     <select name="post[location]">
		<option value="New York">New York</option>  
		<option value="New Orleans">New Orleans</option>  
		<option value="San Francisco">San Francisco </option> 
		<option value="Portland">Portland</option>  
	 </select> 
The First Date 
    <select name="post[month]">
    	<option value="1">January</option> 
    	<option value="2">February</option> 
    	<option value="3">March</option> 
    	<option value="4">April</option> 
    	<option value="5">May</option> 
    	<option value="6">June</option> 
    	<option value="7">July</option> 
    	<option value="8">August</option> 
    	<option value="9">September</option> 
    	<option value="10">October</option> 
    	<option value="11">November</option> 
    	<option value="12">December</option> 
    </select>
    <select name="post[day]">
    	<option value="1">1</option> 
    	<option value="2">2</option> 
    	<option value="3">3</option> 
    	<option value="4">4</option> 
    	<option value="5">5</option> 
    	<option value="6">6</option> 
    	<option value="7">7</option> 
    	<option value="8">8</option> 
    	<option value="9">9</option> 
    	<option value="10">10</option> 
    	<option value="11">11</option> 
    	<option value="12">12</option> 
    	<option value="13">13</option> 
    	<option value="14">14</option> 
    	<option value="15">15</option> 
    	<option value="16">16</option> 
    	<option value="17">17</option> 
    	<option value="18">18</option> 
    	<option value="19">19</option> 
    	<option value="20">20</option> 
    	<option value="21">21</option> 
    	<option value="22">22</option> 
    	<option value="23">23</option> 
    	<option value="24">24</option> 
    	<option value="25">25</option> 
    	<option value="26">26</option> 
    	<option value="27">27</option> 
    	<option value="28">28</option> 
    	<option value="29">29</option> 
    	<option value="30">30</option> 
    	<option value="31">31</option> 
    </select>
    <select name="post[year]">
    	<option value="2002">2002</option> 
    	<option value="2003">2003</option> 
    	<option value="2004">2004</option> 
    	<option value="2005">2005</option> 
		<option value="2006">2006</option> 
		<option value="2007">2007</option> 
		<option value="2008">2008</option> 
		<option value="2009">2009</option> 
		<option value="2010">2010</option> 
		<option value="2011">2011</option> 
		<option value="2012">2012</option> 
		<option value="2013">2013</option> 
		<option value="2014">2014</option> 
    </select>
The Second Date 
     <select name="post[month2]">
    	<option value="1">January</option> 
    	<option value="2">February</option> 
    	<option value="3">March</option> 
    	<option value="4">April</option> 
    	<option value="5">May</option> 
    	<option value="6">June</option> 
    	<option value="7">July</option> 
    	<option value="8">August</option> 
    	<option value="9">September</option> 
    	<option value="10">October</option> 
    	<option value="11">November</option> 
    	<option value="12">December</option> 
    </select>
    <select name="post[day2]">
    	<option value="1">1</option> 
    	<option value="2">2</option> 
    	<option value="3">3</option> 
    	<option value="4">4</option> 
    	<option value="5">5</option> 
    	<option value="6">6</option> 
    	<option value="7">7</option> 
    	<option value="8">8</option> 
    	<option value="9">9</option> 
    	<option value="10">10</option> 
    	<option value="11">11</option> 
    	<option value="12">12</option> 
    	<option value="13">13</option> 
    	<option value="14">14</option> 
    	<option value="15">15</option> 
    	<option value="16">16</option> 
    	<option value="17">17</option> 
    	<option value="18">18</option> 
    	<option value="19">19</option> 
    	<option value="20">20</option> 
    	<option value="21">21</option> 
    	<option value="22">22</option> 
    	<option value="23">23</option> 
    	<option value="24">24</option> 
    	<option value="25">25</option> 
    	<option value="26">26</option> 
    	<option value="27">27</option> 
    	<option value="28">28</option> 
    	<option value="29">29</option> 
    	<option value="30">30</option> 
    	<option value="31">31</option> 
    </select>
    <select name="post[year2]">
    	<option value="2002">2002</option> 
    	<option value="2003">2003</option> 
    	<option value="2004">2004</option> 
    	<option value="2005">2005</option> 
		<option value="2005">2006</option> 
		<option value="2005">2007</option> 
		<option value="2005">2008</option> 
		<option value="2005">2009</option> 
		<option value="2005">2010</option> 
		<option value="2005">2011</option> 
		<option value="2005">2012</option> 
		<option value="2005">2013</option> 
     		<option value="2005">2014</option> 
   
   </select>
	<input type="submit"  value="submit" > 
   </form> 
   <section id="add" name="content"> 
   
   <textarea><%= @wetout %></textarea> 

</section>  

<script> 

// Weather Primitives 

// Rain 

// Rain Drops on Ground 
//Wind 

//Sun 

//Pollen 

//High Storm 

//Flood 
// Add Freaking JQUERY MY MANG 

var context = new webkitAudioContext(); 
// Basic White noise 

// Move this under audio context. Give it the correct audio context 

var bufferSize = 4096; 
var whiteNoise = context.createScriptProcessor(bufferSize, 1, 1); 
whiteNoise.onaudioprocess = function(e) { 
	var output = e.outputBuffer.getChannelData(0); 
	for (var i = 0; i < bufferSize; i++){ 
		output[i] = (Math.random() * 2 -1) + (Math.random() * 2 -1) + (Math.random() * 2 -1);  
	} 
}

whiteNoise.connect(context.destination); 

whiteNoise.start(0.5); 

// Gain Node 

// Reverb Node
 

//Env Node 
var envGen = (function(context) { 
	function envGen() {
	this.attackTime = 0.5; 
	this.releaseTime = Math.random() * 5; 
	
	var that = this; 
	$(document).bind('gateOn', function (_) {
		that.trigger(); 
	}); 
	$(document).bind('setAttack', function (_, value) {
		that.attackTime = value; 
	}); 
	$(document).bind('setRelease', function (_, value) {
		that.releaseTime = value; 
	}); 
};

envGen.prototype.trigger = function() {
	now = context.currentTime;
	this.param.cancelScheduledvalues(now); 
	this.param.setValueAtTime(0, now); 
	this.param.linearRampToValueAtTime(1, now + this.attackTime); 
	this.param.linearRampToValueAtTime(0, now + this.attackTime + this.releaseTime); 
}; 

envGen.prototype.connect = function(param) {
	this.param = param; 
}; 
return evnGen; 
})(context); 

	
var VCA = (function(context) { 
	function VCA() { 
		this.gain = context.createGain(); 
		this.gain.gain.value = 0; 
		this.input = this.gain; 
		this.output = this.gain; 
		this.amplitude = this.gain.gain; 
	}; 


	VCA.prototype.connect = function(node) {
		if (node.hasOwnProperty('input')){
	  	 this.output.connect(node.input); 
      	  	}else {
         	this.output.connect(node.input); 
        	}; 
	}

	return VCA;
})(context); 

//Final Mixer 


</script> 

